/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 6) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 5px;
  1border-radius: 4px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where( .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 135px;
  list-style: none;
  background: #3270FC;
  cursor: pointer;
  padding-bottom: 5px;
  flex-direction: column;
  padding: 15px 15px;
  aborder-radius: 6px;
  mborder: 3px solid #000;
  border-radius:20px;
  width: 90%;
}

.carousel .card .img {
  background: none;
  height: 56px;
  1width: 56px;
  border-radius: 50%;
  padding: 5px;
}
 .carousel .card:hover {
  background: linear-gradient(to right, #3C6AFD, #57C7FA);
}
.card .img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  /* background-image: url('homey/images/icons/Pay_On_Credit_White.png'); */
  mborder: 3px solid #3270FC;
}
.carousel .card h2 {
  font-weight: 600;
  font-size: 1.00rem;
  margin: 10px 0 1px;
  color: white;
}
.carousel .card span {
  color: #000;
  cfont-size: 1.31rem;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}




@media screen and (max-width: 1080px) {
  /* .explorewidth{
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    width: 50%;
    float: left;
  } */
 
}



.register
{
  position: absolute;
  line-height: 40px;
  font-weight: 500;
  top: 5px;
  right: 5px;
  width: 125px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 2;
  font-family: 'Jost', sans-serif;
  color: #fff;
  background-color: #3270FC;
}
.register:hover{
  background-color: #fff;
  color: #3270FC;
  border:1px solid #3270FC;

}
 
.explore {
  scroll-snap-align: start;
  height: 135px;
  list-style: none;
  background: #3270FC;
  cursor: pointer;
  padding-bottom: 5px;
  flex-direction: column;
  padding: 15px 15px;
  width: 90%;
  1border: 2px solid black;
  border-radius: 20px; 
  margin: 10px;
  transition: width 2s, height 2s, transform 2s;
  z-index: 0;
}
.explorewidth
{
  width: 15%;
  float: left;
}
.explore .img {
  background:none;
  height: 58px;
  width: 58px;
  padding: 2px;
  
  
}
.explore .img img {
  width: 55px;
  height: 55px;
  
  object-fit: cover;
  1border: 3px solid #000;
}
 .explore h2 {
  font-weight: 600;
  font-size: 1.00rem;
  margin: 10px 0 1px;
  color: white;
}
.explore span {
  color: #000;
  cfont-size: 1.31rem;
  font-size: 15px;
}
.explore:hover,.explore:focus{
  lbackground-color: #3270FC;
  background: linear-gradient(to right, #3C6AFD, #57C7FA);
  box-shadow: 0 19px 20px rgba(0,0, 0, 0.6);
  width: 95%;
  z-index: 10;
  
 
}
.accordion-lite-container1 p {
  color: #000;
}

@media only screen and (max-width: 1080px) {
  .explorewidth
{
  width: 50%;
  float: left;
}

}


.wrapper1 .carousel1{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 5px;
  1border-radius: 4px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.wrapper1 {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper1 i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper1 i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper1 i:first-child{
  left: -22px;
}
.wrapper1 i:last-child{
  right: -22px;
}

.carousel1::-webkit-scrollbar {
  display: none;
}
.carousel1.no-transition {
  scroll-behavior: auto;
}
.carousel1.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel1.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel1 :where( .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel1 .card {
  scroll-snap-align: start;
  height: 135px;
  list-style: none;
  background: #3270FC;
  cursor: pointer;
  padding-bottom: 5px;
  flex-direction: column;
  padding: 15px 15px;
  aborder-radius: 6px;
  color: white;
  mborder: 3px solid #000;
  border-radius:20px;
  width: 90%;
}

.carousel1 .card .img {
  background: none;
  height: 56px;
  /* 1width: 56px; */
  border-radius: 50%;
  padding: 5px;
}
.carousel1 .card .img i{
  font-size: 50px;
}
 .carousel1 .card:hover {
  /* background: linear-gradient(to right, #3C6AFD, #57C7FA); */
  border: 1px solid #3270FC ;
  color: #3270FC;
  background: white;
}
.card .img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  mborder: 3px solid #3270FC;
  /* background-color: #000; */
}
/* .card .img img:hover {
  background-color: #3270FC;
} */
.carousel1 .card h2 {
  font-weight: 600;
  font-size: 1.00rem;
  margin: 10px 0 1px;
  1color: white;
}
/* .carousel1 .card h2:hover  {
  
  color: #3270FC;
} */
.carousel1 .card span {
  color: #000;
  cfont-size: 1.31rem;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .wrapper1 .carousel1 {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper1 .carousel1 {
    grid-auto-columns: 100%;
  }
}

.wrapper12 {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper12 i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper12 i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper12 i:first-child{
  left: -22px;
}
.wrapper12 i:last-child{
  right: -22px;
}
.wrapper12 .carousel12{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 5px;
  1border-radius: 4px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel12::-webkit-scrollbar {
  display: none;
}
.carousel12.no-transition {
  scroll-behavior: auto;
}
.carousel12.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel12.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel12 :where( .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel12 .card1 {
  scroll-snap-align: start;
  1height: 135px;
  list-style: none;
  1background: #3270FC;
  cursor: pointer;
  padding-bottom: 5px;
  flex-direction: column;
  padding: 15px 15px;
  aborder-radius: 6px;
  mborder: 3px solid #000;
  border-radius:20px;
  width: 90%;
}

.carousel12 .card1 .img {
  background: none;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  padding: 5px;
}
 .carousel12 .card1:hover {
  1background: linear-gradient(to right, #3C6AFD, #57C7FA);
}
.card1 .img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  mborder: 3px soli;
}
.carousel12 .card1 h2 {
  font-weight: 600;
  font-size: 1.00rem;
  margin: 10px 0 1px;
  color: white;
}
.carousel12 .card1 span {
  color: #000;
  cfont-size: 1.31rem;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .wrapper12 .carousel12 {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper12 .carousel12 {
    grid-auto-columns: 100%;
  }
}


.carousel :where( .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  background: none;
  height: 56px;
  1width: 56px;
  border-radius: 50%;
  padding: 5px;
}
.card1 .img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  mborder: 3px soli;
}
